/*BODY {
  font-family: Trebuchet MS;
  margin:200px;
  background-image: url("ParentBackground.jpg");
}*/

H1 {
  text-align: center;
  color: #000000;
}

.myTimetable {
  width:70%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: 20%;
}

.myTimetable THEAD{
  color: #000000;
 
}

.myTimetable TBODY 
{
  /*background-color: #9ACD32;*/
}

.myTimetable TD {
  border: 5px solid black;
  padding: 6px;
  text-align: center;
}
.myTimetable TBODY TR TD:first-child {
  /*background-color: #C71585;*/
  font-weight: bold;
}

.break, .lunch {
  /*background-color: #C71585 !important;*/
  font-style: italic;
}

.subject {
  font-size: 12pt;
  margin-bottom:4px;
}

.room {
  font-size: 10pt;
  font-style: italic;
}
