body {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

/* sweetalert2 css edits */
.swal2-modal {
  min-height: 350px;
  min-width: 300px;
  font-size: 14px !important;
}

.swal2-popup {
  min-height: 50px;
  min-width: 250px;
  font-size: 16px !important;
}


/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    border-bottom: 3px solid rgb(251, 251, 251);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    line-height: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	border-top: 3px solid rgb(251, 251, 251);
	border-left: 3px solid rgb(251, 251, 251);
	border-right: 3px solid rgb(251, 251, 251);
	/* background-color: rgb(163, 61, 14);  */

  color: #ffffff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-bottom: 3px solid #ccc;
    border-top: none;
}

/* Navbar */

.navbar {	/* Remove the navbar's default margin-bottom and rounded borders */
	margin-bottom: 0;
  border-radius: 0;
}

/* Footer */

footer {	/* Add a gray background color and some padding to the footer */
  background-image: url("../img/footer.jpg") ;
  padding: 25px;
  color: white;
}

.well{
	width: 350px;
}

.person {
	border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
}

.person:hover {
	border-color: #f1f1f1;
}

/* Flipping Cards */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #800000;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#section1 {
	padding-top:20px;
	color: #fff;
	background-color: #673ab7;
}

#section21, #section22{
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #673ab7;
}
#section3 {
	padding-top:50px;
	height:400px;
	color: #fff;
	background-color: #ff9800;
}
#section41 {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #00bcd4;
}
#section42 {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #009688;
}
#sectionwhite {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: white;
}


.carousel-inner img {
	width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
  display: none;
	}
}
